.relatedMovieContainer {
    cursor: pointer;
}

.relatedMovieContainer > .movieTitle {
    display: none;
}
.relatedMovieContainer:hover > .movieTitle {
    display: block;
}

.relatedMovieContainer > img {
    width: 90%;
    border-radius: 12px;
    transition: all 1s;
}
.relatedMovieContainer:hover > img {
    transform: scale(1.2);
    transition: all 1s;
}